 .country{
     background-color: rgb(246, 232, 232);
     border: 3px solid rgb(71, 66, 66);
     margin: 15px;
     border-radius: 7px;
     /* padding: 15px; */
 }

 .country img{
    width: 150px;
 }